@model IEnumerable<BirthdayEvent.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<head>
    <link href="~/CustomStyleSheet/HomepageStyleSheet.css" rel="stylesheet" />
</head>
<h2>Welcome - @Session["userName"].ToString() </h2>


<div class="container pt-5 pb-5">
    <div class="col-12">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="card-text">
                <div class="card-body">
                    <form [formGroup]="searchForm" (submit)="submit()">
                        <br> <br>
                        <div class="row home-wrapper text-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="searchkeyword" formControlName="searchkeyword" placeholder="Type your search">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary w-100" id="searchEventbutton" value="Search" name="search">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

            <div class="container mx-auto mt-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" style="width: 20rem;">
                            <img src="https://floweraura-blog-img.s3.ap-south-1.amazonaws.com/Must+Have+Room+Decorations+for+Birthday+Party/Post-4.jpg" height="180px" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">SS Birthday Events</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <p class="card-subtitle mb-2 text-muted">Place : Chennai</p>
                                    </div>
                                    <div class="btn-group">
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star text-muted"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="width: 20rem;">
                            <img src="https://makemyevent.in/wp-content/uploads/2018/10/Birthday-planner3-527x350xc.jpg" height="180px" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">KK Birthday Events</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <p class="card-subtitle mb-2 text-muted">Place : Bengaluru</p>
                                    </div>
                                    <div class="btn-group">
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card" style="width: 20rem;">
                            <img src="https://www.prismindiaevents.com/wp-content/uploads/2019/10/birthday-thme-in-dhaka.jpg" height="180px" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title text-center">MM Birthday Events</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <p class="card-subtitle mb-2 text-muted">Place : Hyderabad</p>
                                    </div>
                                    <div class="btn-group">
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star checked"></span>
                                        <span class="glyphicon glyphicon-star text-muted"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobileNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userRole)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userRole)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
                @Html.ActionLink("Details", "Details", new { id = item.userId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.userId })
            </td>
        </tr>
    }

</table>
