@model IEnumerable<BirthdayEvent.Models.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.eventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applicantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applicantMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.applicantEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventMenuId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addonId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventCost)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applicantName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicantAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applicantMobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.applicantEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventMenuId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventCost)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventId })
        </td>
    </tr>
}

</table>
