@model BirthdayEvent.Models.Menu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Edit Menu -  @Html.DisplayFor(model => model.foodMenuType)</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Menu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.foodMenuId)

        <div class="form-group">
            @Html.LabelFor(model => model.foodMenuImageURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.foodMenuImageURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foodMenuImageURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foodMenuType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.foodMenuType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foodMenuType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foodMenuItems, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.foodMenuItems, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foodMenuItems, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.foodMenuCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.foodMenuCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.foodMenuCost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" onclick="return confirm('Are you sure want to Update the Food Menu?')"  class="btn btn-primary" />
            </div>
        </div>
    </div>
}


<div>
    <a href="@Url.Action("Index", "Menus")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back
    </a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
